.desc-step {
    margin-bottom: 18px;
}

.desc-step-num {
    text-transform: uppercase;
    color: #273A64;
    font-weight: 600;
}

.desc-step-detail {
    color: #000;

    a {
        color: #397ECC;
    }
}